/* ==========================================================================
   Global Variables
   ========================================================================== */

	/**
	 * ## Global Spaces
	 */
		$default-space: 20px;
		$default-space-half: $default-space/2;
		$default-smaller: $default-space/2;
		$default-space-2x: $default-space*2;
		$default-space-smallest: 5px;
		$default-space-smaller: $default-space-half;

	/**
	 * ## Global Widths
	 */
		$max-width: 900px;

	/**
	 * ## Global Colors
	 */
